<div class="container mt-3 bg-black text-white">
    <div class="row">
        <div class="col-md-12">
            <h3>{{isEditmode?'Edit':'Create'}} Product</h3>
            <div class="mt-3">
                <label class="form-label">Product name</label>
                <input type="text" class="form-control" [(ngModel)]="product.name">
            </div>
            <div class="mt-3">
                <label class="form-label">Product Brand</label>
                <input type="text" class="form-control" [(ngModel)]="product.brand">
            </div>
            <div class="mt-3">
                <label class="form-label">Product Price</label>
                <input type="text" class="form-control" [(ngModel)]="product.price">
            </div>
            <div class="mt-3">
                <label class="form-label">Image URL</label>
                <input type="text" class="form-control" [(ngModel)]="product.imageUrl">
            </div>
            <div class="mt-3">
                <label class="form-label">Manufactured Year</label>
                <input type="text" class="form-control" [(ngModel)]="product.manufacturedYear">
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-success me-2" (click)="onsubmit()" *ngIf="!isEditmode">Add</button>
                <button type="submit" class="btn btn-warning me-2" (click)="onsubmit()" *ngIf="isEditmode">Update</button>
                <button type="submit" class="btn btn-danger me-2" (click)="onback()">Back</button>
    

            </div>
        </div>
    </div>
</div>